* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #fff;
  --text-color: #222327;
  --main-color: #ff4742;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 28px 12%;
  transition: all 0.5 ease;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  color: var(--main-color);
  font-size: 28px;
  margin-right: 3px;
}

.logo span {
  color: var(--text-color);
  font-size: 1.7rem;
  font-weight: 600;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
  position: 5px 0;
  margin: 0px 20px;
  transition: all 0.5s ease;
}

.navbar a:hover {
  color: var(--main-color);
}

.navbar a.active {
  color: var(--main-color);
}

.main {
  display: flex;
  align-items: center;
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
    transition: 0.2s;
  }
  .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 1090px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 40vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all 0.5s ease;
  }
  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all 0.5s ease;
  }
  .navbar a:hover {
    color: var(--text-color);
    transform: translateY(5px);
  }
  .navbar a.active {
    color: var(--text-color);
  }
  .navbar.open {
    right: 2%;
  }
  #donate {
    font-size: 0.7rem;
    padding: 0px 5px;
  }
  #volunteer {
    font-size: 0.7rem;
    padding: 0px 5px;
  }
}

section {
  padding-top: 30px;
  padding-bottom: 10px;
}

/* nav buttons */
#donate {
  margin: 0px 05px;
  font-size: 1rem;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--bg-color);
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#donate:hover,
#donate:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--main-color);
}

#volunteer {
  margin: 0px 05px;
  font-size: 1rem;
  background: var(--bg-color);
  border: 1px solid var(--main-color);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--main-color);
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#volunteer:hover,
#volunteer:active {
  background-color: var(--main-color);
  background-position: 0 0;
  color: var(--bg-color);
}

button:active {
  opacity: 0.5;
}
/* nav buttons ends */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 6%;
  width: 90%;
}

img {
  max-width: 800px;
}

.main-title {
  font-size: 75px;
  font-style: normal;
  font-weight: 900;
  letter-spacing: -0.48px;
  line-height: 70px;
  margin-bottom: 20px;
  margin-top: 70px;
}

.text-box span {
  color: var(--main-color);
}

.main-para {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: left;
}

.main-para1 {
  margin-top: 20px;
  font-size: 1.5rem;
  text-align: left;
}

#book-now {
  margin-top: 20px;
  font-size: 1rem;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--bg-color);
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#book-now:hover,
#book-now:active {
  background-color: initial;
  background-position: 0 0;
  color: var(--main-color);
}

#about h1 {
  font-size: 4rem;
  margin: 50px 5%;
  color: var(--main-color);
}

.mission {
  display: flex;
  justify-content: right;
  align-items: end;
}

.missionpic {
  max-width: 600px;
  float: left;
}

.vissionpic {
  max-width: 600px;
}

.text-box1 {
  box-sizing: border-box;
  width: 1000px;
  height: 400px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
}

.text-box1 p {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.founder h1 {
  display: flex;
  justify-content: center;
}

.wrapper1 {
  box-sizing: border-box;
  width: 1200px;
  height: 400px;
  margin: 60px 10%;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
}

.founder-heading {
  display: inline-block;
  justify-content: left;
  margin-left: 20px;
}

.founder p {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}

.founder img {
  margin-right: 20px;
  border-radius: 17px;
}

.sayan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.core-team {
  display: inline-block;
  margin: 30px 6%;
  font-size: 50px;
  color: #606060;
}

.volunteers {
  display: inline-block;
  margin: 30px 6%;
  font-size: 50px;
  color: #606060;
}

/*core team*/
.card {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin: 30px 1%;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  color: black;
}

.core-members {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.volunteers-members {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.volunteers-members1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}

.card img {
  position: absolute;
  z-index: 3;
  transition: 0.5s;
  margin-left: 20px;
  border-radius: 17px;
}

.card:hover img {
  scale: 0.5;
  transform: translateY(-70px);
}

.card .content {
  position: absolute;
  z-index: 3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0);
  transition: 0.5s;
}

.card:hover .content {
  transform: scale(1);
  bottom: 25px;
}

.content .title {
  position: relative;
  color: var(--text-color);
  font-weight: 500;
  line-height: 1em;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.content .title span {
  font-weight: 300;
  font-size: 0.7em;
}

.content .sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.sci li {
  list-style: none;
}

.sci li .fa-brands {
  width: 14px;
}

.sci li .fa-facebook {
  width: 10px;
}

.sci li a {
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  background: rgba(0, 0, 0, 0.2);
  fill: currentColor;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: 0.5s;
}

.sci li a:hover {
  fill: currentColor;
  color: rgba(255, 255, 255, 1);
}
/*core team ends*/

.service-title {
  align-items: center;
  color: #606060;
  display: flex;
  font-size: 77.68px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  padding-bottom: 0.5em;
  position: relative;
}

.service-title1 {
  align-items: center;
  color: #606060;
  display: flex;
  font-size: 77.68px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px;
  padding-bottom: 0.5em;
  position: relative;
}

.book-now1 {
  margin-top: 20px;
  font-size: 1rem;
  background: var(--bg-color);
  border: 1px solid var(--main-color);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: var(--main-color);
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.book-now1:hover,
.book-now1:active {
  background-color: var(--main-color);
  background-position: 0 0;
  color: var(--bg-color);
}
