@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap");

body {
  font-family: poppins, sans-serif;
  margin: 0px;
}

#navbar {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 60px;
  width: 100%;
  position: sticky;
  top: 0px;
}

#navbar a {
  text-decoration: none;
  margin: 0px 20px;
  font-size: 1.3em;
}

#navbar-middle a {
  color: black;
}

#navbar a:hover {
  text-decoration: underline;
}

#navbar-left {
  float: left;
  text-align: center;
}

#navbar-middle {
  float: left;
  text-align: center;
  padding-left: 200px;
}

#navbar-right {
  float: right;
  text-align: center;
  padding-right: 50px;
}

section {
  min-height: 100vh;
}

section#tim-vine {
  background: rgb(123, 211, 232);
  background: linear-gradient(
    135deg,
    rgba(123, 211, 232, 1) 0%,
    rgba(123, 211, 232, 1) 0%,
    rgba(50, 171, 255, 1) 100%
  );
  color: #0f2852;
}

section#bill-hicks {
  background: rgb(123, 211, 232);
  background: linear-gradient(
    135deg,
    rgba(123, 211, 232, 1) 0%,
    rgba(232, 123, 165, 1) 0%,
    rgba(255, 50, 50, 1) 100%
  );
  color: #40081a;
}

section#stewart-francis {
  background-color: #85ffbd;
  background-image: linear-gradient(
    45deg,
    #85ffbd 0%,
    #fffb7d 50%,
    #ffffff 100%
  );
  color: #084012;
}

article {
  width: 90%;
  max-width: 600px;
  padding: 20px;
  margin: 0px auto;
}

h2 {
  text-align: center;
  padding: 40px 0px 0px 0px;
  font-size: 3em;
}

p {
  font-size: 1.5em;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 11px;
  }
}

/* nav buttons */
#donate {
  margin: 0px 05px;
  font-size: 1.3em;
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#donate:hover,
#donate:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

#volunteer {
  margin: 0px 05px;
  font-size: 1.3em;
  background: #ffffff;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ff4742;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#volunteer:hover,
#volunteer:active {
  background-color: #ff4742;
  background-position: 0 0;
  color: #ffffff;
}

button:active {
  opacity: 0.5;
}
/* nav buttons ends */

#logo {
  color: #ff4742;
  font-weight: 900;
  size: 100px;
}
